body {
  background-color: lightgray;
}

.title {
  color: white;
  text-align: center;
  background-color: maroon;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

h3 {
  color: black;
  text-align: left;
}

.subject-content {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-style: normal;
}
